.about-container {
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  animation: fadeInUp 1s ease-out;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  animation: fadeInUp 1.5s ease-out;
}

.separator {
  border: 1px solid #fff;
  width: 50px;
  margin: 20px auto;
  opacity: 0.5;
}

.background-section {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 2s ease-out;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff9f9f;
  margin-bottom: 1rem;
  text-transform: uppercase;
  animation: fadeInUp 1s ease-out;
}

.section-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ddd;
  animation: fadeInUp 1.5s ease-out;
}

.skills-section {
  background: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 2s ease-out;
}

.skills-section .skill-card {
  transition: all 0.3s ease;
}

.skills-section .skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .section-heading {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1rem;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .section-heading {
    font-size: 2rem;
  }
}
